---
layout: default
---

<div class="home">

  <div id="container">
    <div id="navbar">
       {% comment %} <p class="left-img"><img src="https://cloud.githubusercontent.com/assets/9990518/8020901/709c3568-0c58-11e5-88ce-068fad49253b.jpg" alt="Anvishi" /></p>
        <p><span class="occupation">Info-tech</span> || <span class="company">Bio-tech</span> || <span class="occupation">Textile-tech</span></p> {% endcomment %}
        <p align="justify">Anvishi Tech works on bringing ground-breaking innovative technologies to help organizations in the information technology, bio-technology and textile-technology industrial domains to operate in more sustainable and profitable ways.</p>
        <p align="justify">Anvishi Tech is registered as a limited liability company in the State of Delaware, USA.</p>
        <p>&nbsp;</p>
        <ul>
          <li><a href="http://facebook.com/anvishi">Visit on <strong>Facebook</strong></a></li>
          <li><a href="http://twitter.com/anvishi">Follow on <strong>Twitter</strong></a></li>
          <li><a href="mailto:contact@anvishi.com">Contact us <strong>e-Mail</strong></a></li>
        </ul>
    </div> 

    <div id="content">
    
    <h2>News from across Anvishi Holdings and Ventures:</h2>
    <ul class="post-list">
    {% for post in paginator.posts %}
      <li><span class="datetitle"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span><br /><span class="excerpt-text">{{ post.excerpt | remove: '<p>' | remove: '</p>' | strip_html | truncatewords:50 }} <a href="{{ post.url | prepend: site.baseurl }}">Read more....</a></span></li>
      
    {% endfor %}
  </ul>
  <hr />
  <div class="pagination" align="center">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
</div>

  </div>
  

</div>
