---
layout: default
---

<div class="home" align="center">

  <div id="container">
    <div id="navbar">
        <p>A collection of problems on Algorithms and Data structures.</p>
        <p>&nbsp;</p>
        <ul>
          <li><a href="https://github.com/adeydas/Algorithm-Practice">Fork on <strong>Github</strong></a></li>
          <li><a href="{{ "/files/DeyDas_Resume.docx" | prepend: site.baseurl }}">Download my <strong>Resume</strong></a></li>
          <li><a href="https://www.linkedin.com/in/adeydas">Contact on <strong>LinkedIn</strong></a></li>
        </ul>
    </div>

    <div id="content">
    <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'abhisws';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

  </div>
  

</div>


