---
layout: default
---
<div class="home">

  <div id="container">
    <div id="navbar">
        <p class="left-img"><img src="https://cloud.githubusercontent.com/assets/9990518/8020901/709c3568-0c58-11e5-88ce-068fad49253b.jpg" alt="Anvishi" /></p>
        <p><span class="occupation">Info-tech</span> || <span class="company">Bio-tech</span> || <span class="occupation">Textile-tech</span></p>
        <p align="justify">Anvishi Tech works on bringing ground-breaking innovative technologies to help organizations in the information technology, bio-technology and textile-technology industrial domains to operate in more sustainable and profitable ways.</p>
        <p align="justify">Anvishi Tech is registered as a limited liability company in the State of Delaware, USA.</p>
        <p>&nbsp;</p>
        <ul>
          <li><a href="http://facebook.com/anvishi">Visit on <strong>Facebook</strong></a></li>
          <li><a href="http://twitter.com/anvishi">Follow on <strong>Twitter</strong></a></li>
          <li><a href="mailto:contact@anvishi.com">Contact us <strong>e-Mail</strong></a></li>
        </ul>
    </div>

    <div id="content">
    <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

  </div>
  

</div>


