---
layout: default
---
<div class="home" align="center">

  <div id="container">
    <div id="navbar">
        <p><img src="{{ "/images/abhishek.jpg" | prepend: site.baseurl }}" height="300px" alt="Abhishek" /></p>
        <p><span class="occupation">Software Engineer</span> @ <span class="company">Tango Analytics</span></p>
        <p>Currently working on implementation of spatial algorithms for Pentaho Kettle and a distributed platform for disparate services.</p>
        <p>Interested in distributed systems and algorithm design.</p>
        <p>&nbsp;</p>
        <ul>
          <li><a href="http://github.com/adeydas">Fork on <strong>Github</strong></a></li>
          <li><a href="{{ "/files/DeyDas_Resume.docx" | prepend: site.baseurl }}">Download my <strong>Resume</strong></a></li>
          <li><a href="https://www.linkedin.com/in/adeydas">Contact on <strong>LinkedIn</strong></a></li>
        </ul>
    </div>

    <div id="content">
    <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>

  </div>
  

</div>


