---
layout: default
---

<div class="home">

  <div id="container">
    <div id="navbar">
        {% comment %} <p class="left-img"><img src="https://cloud.githubusercontent.com/assets/9990518/8020901/709c3568-0c58-11e5-88ce-068fad49253b.jpg" alt="Anvishi" /></p>
        <p><span class="occupation">Info-tech</span> || <span class="company">Bio-tech</span> || <span class="occupation">Textile-tech</span></p> {% endcomment %}
        <p align="justify">Anvishi Tech works on bringing ground-breaking innovative technologies to help organizations in the information technology, bio-technology and textile-technology industrial domains to operate in more sustainable and profitable ways.</p>
        <p align="justify">Anvishi Tech is registered as a limited liability company in the State of Delaware, USA.</p>
        <p>&nbsp;</p>
        <ul>
          <li><a href="http://facebook.com/anvishi">Visit on <strong>Facebook</strong></a></li>
          <li><a href="http://twitter.com/anvishi">Follow on <strong>Twitter</strong></a></li>
          <li><a href="mailto:contact@anvishi.com">Contact us <strong>e-Mail</strong></a></li>
        </ul>
    </div>

    <div id="content">
    <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'abhisws';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

  </div>
  

</div>


